<style>
.table-bordered tr th, .table-bordered tr td, .table-bordered tr{border: 1px solid #ccc !important;}
.orange{ background-color: #008B8B;}
.orange th{color:#fff;}

 navbar {
            background-color: #008B8B;
            padding: 10px 0;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }
.btn_serach {
    background-color: #008B8B;
    border: 1px solid #008B8B;
    color: white;
}


.form-border {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


   .modal1 {
    display: flex;
    position: fixed;
    top: 10%;
    left: 0;
     background-color: transparent;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: flex-start;
     overflow: auto; 
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
     width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
}


.modal-backdrop {
    display: none !important; /* Hides the black background */
}


.modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-actions button {
    margin: 5px;
    padding: 12px 30px;
    background-color: #008B8B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions button:hover {
    background-color: #005f5f;
}

     

.modal-xl {
    max-width: 90%; /* You can adjust the percentage to change the modal width */
    width: 90%;
}

.modal-body {
    max-height: 85vh; /* Make sure the modal height is responsive */
    overflow-y: auto; /* Allow scrolling if the document is too large */
}

    .text-success-dark {
    color: #155724; /* Darker green */
}

.text-danger-dark {
    color: #721c24; /* Darker red */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-dialog {
    background-color: #fff;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.modal-header, .modal-footer {
    padding: 10px;
}

</style>
<div class="container-fluid" style="padding-top:50px;">
	<div class="row page-title-div">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="title" style="text-align:center;">Machine Master</h2>
		</div>
	</div>
</div>
<div class="container">
			<div class="row top">
				<div class="col-sm-12">
				<div class="row">
					<div class="col-md-8"></div>
						<div class="col-md-2" ng-show="!addSpareTab && !addDocumentTab">
								<button type="submit" class="btn_serach btn-sm" id="success" style="background: #008B8B; border: 1px solid #103e57;"
									ng-click="vm.addNew()">add</button>
						</div>	
						<div class="col-md-2" ng-show="!addSpareTab && !addDocumentTab">
								<button type="submit" class="btn_serach btn-sm" id="success" style="background: #008B8B; border: 1px solid #103e57;"
									ng-click="vm.upload()">Upload</button>
						</div>		
						<div class="col-md-2" ng-show="!addSpareTab && !addDocumentTab">
													<button type="submit" class="btn_serach btn-sm" id="success" style="background: #008B8B; border: 1px solid #103e57;"
														ng-click="multiPrintCanvas()">Print Multiple</button>
											</div>	
											<div>
												<label for="pageSize">PerPage: </label>
												<select id="pageSize" ng-model="vm.pageSize" ng-change="vm.updatePageSize()" ng-options="size for size in vm.pageSizeOptions">
												</select> 
											</div>		
				</div>	
				
					<div class="row" ng-show="uploadTab">
						<div class="col-md-6">

							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input custom-file-input-modal form-control" id="inputExcelFile"
										accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="angular.element(this).scope().handleFileSelect(this.files)" >
									<label class="custom-file-label" for="inputExcelFile"
										aria-describedby="inputGroupFileAddon02">Choose file</label>
								</div>
							</div>
						</div>
						
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div align="right" style="margin-top:5%;">
								<button type="submit" class="btn_serach" id="success"
									ng-click="vm.uploadNew()">Upload</button>
							</div>
						</div>
						</div>		
						
						
				            
<div ng-show="addSpareTab">
    <h3>Add Spare</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="eqId">Equipment ID:</label>
                <input type="text" class="form-control" ng-model="spareData.eqId" placeholder="Equipment ID" readonly>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="spareName">Spare Names:</label>
                <select ng-model="spareData.maintspare_ids" 
                        ng-options="maintspare.maintspare_id as maintspare.spare_name for maintspare in vm.spares" 
                        class="form-control" 
                        multiple>
                    <option value="">Select Spares:</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <button type="button" class="btn_serach" ng-click="vm.saveSpare(spareData)">Save</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn_serach" ng-click="vm.cancel()">Cancel</button>
        </div>
    </div>

<div class="container">
    <div class="panel-body table-responsive">
        <table datatable="ng" id="example" class="table table-bordered ">
           <thead class="orange">
                <tr>
                    <th>SrNo</th>
                   
                    <th>Spare Names</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="spare in vm.assignSpares track by $index">
                    <td>{{$index + 1}}</td>
                  
                    <td>{{spare.maintSpare.spare_name}}</td>
                    	<td class="text-nowrap">
									 <button type="button" class="btn btn-danger" title="Delete" ng-click="vm.remove(spare.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>

								</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
        
<!-- New Add Document Tab -->
<div  ng-show="addDocumentTab">
    <h3>Add Document</h3>
    <div class="row ">
        <div class="col-md-6">
            <label for="equipmentId">Equipment ID:</label>
            <input type="text" class="form-control" ng-model="documentData.equipmentId" readonly>
        </div>
        
        <div class="col-md-6">
            <label for="equipmentId">Machine Name:</label>
            <input type="text" class="form-control" ng-model="documentData.machineNames" readonly>
        </div>
        
        <div class="col-md-6">
            <label for="document">Upload Document:</label>
			<input type="file" ng-file-select onchange="angular.element(this).scope().handleFileSelect(this.files)" />
            <div ng-if="documentData.file.length > 0">
                <ul>
                    <li ng-repeat="file in documentData.file">{{file.name}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn_serach" ng-click="vm.saveDocument()">Save</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn_serach" ng-click="vm.cancel()">Cancel</button>
        </div>
    </div>

    <!-- Documents Table -->
    <div class="container">
        <div class="panel-body table-responsive">
         <div ng-if="vm.noDocumentsFound" class="alert alert-warning" role="alert">
            No documents found for this asset.
        </div>
 <table datatable="ng" id="example" class="table table-bordered" ng-if="!vm.noDocumentsFound">       
          <thead class="orange">
                    <tr>
                        <th>SrNo</th>
                       
                        <th>Document Name</th>
                        <th>Upload Date</th>
                        <th>Document Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in vm.loadDocuments">
                        <td>{{$index + 1}}</td>
                       
                        <td>{{document.userManualName}}</td>
                        <td>{{document.uploadDate | date : 'dd-MM-yyyy'}}</td>
                          <td>
			                        <span ng-switch="document.active">
			                            <span ng-switch-when="1">Active</span>
			                            <span ng-switch-when="0">In-Active</span>
			                           
			                        </span>
			                    </td>
                        
                        <td>
							<button class="btn btn-refresh btn-sm" ng-click="vm.toggleStatus(document)">
							    <i class="fa fa-refresh" ng-class="{'text-success-dark': document.active === 1, 'text-danger-dark': document.active === 0}"></i>
							</button>


                           <button class="btn btn-primary btn-sm" ng-click="vm.openDocument(document.upload_id)">
							    <i class="fa fa-eye"></i> <!-- Eye icon -->
							</button>
							
							<button class="btn btn-danger btn-sm" ng-click="vm.removedocument(document.upload_id)">
							    <i class="fa fa-trash"></i> <!-- Trash icon -->
							</button>
							<button class="btn btn-secondary btn-sm" ng-click="vm.downloaddocument(document.upload_id)">
							    <i class="fa fa-download"></i> <!-- Trash icon -->
							</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Custom Modal for Viewing Document -->
<script type="text/ng-template" id="documentModalContent.html">
    <div class="modal-dialog modal-xl" style="max-width: 95vw; max-height: 95vh;">
       
            <div class="modal-header">
                <h5 class="modal-title">View Document</h5>
                <button type="button" class="close" ng-click="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0;">
                <!-- Set iframe to larger dimensions -->
                <iframe ng-src="{{ documentUrl }}" style="width: 100%; height: 90vh;" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="close()">Close</button>
            </div>
       
    </div>
</script>

        
		
						
						
								
					<div class="row form-border" ng-show="addNewTab">
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Machine Name : <span style="color:#c00;">*</span></label> 
								<input type="text" class="form-control" ng-model="machine_mst.machine_name" placeholder="Machine Name"	ng-required="true">
							</div>
						</div>
						
						
						<div class="col-md-6">
						    <div class="form-group">
						        <label for="exampleInputPassword13">Select Category <span style="color:#c00;">*</span> :</label>
						        <select 
						            ng-model="machine_mst.category.cat_id"
						            ng-options="cat.cat_id as cat.catName for cat in vm.categories"
						            class="form-control" required>
						            <option value="">Select Category :</option>
						        </select>
						    </div>
						</div>

												
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Equipment Id  <span style="color:#c00;">*</span>:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.eqid" placeholder="Equipment Id"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Model <span style="color:#c00;">*</span>:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.model" placeholder="Model"	ng-required="true">
							</div>
						</div>
							<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Make <span style="color:#c00;">*</span>:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.make" placeholder="Make"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">SR NO/ Use <span style="color:#c00;">*</span> :</label> 
								<input type="text" class="form-control" ng-model="machine_mst.srNo" placeholder="SR NO/ Use"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Capacity  <span style="color:#c00;">*</span>:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.capacity" placeholder="Capacity"	ng-required="true">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name13">Location:</label> 
								<input type="text" class="form-control" ng-model="machine_mst.location" placeholder="Location"	ng-required="true">
							</div>
						</div>
					<!--	<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputPassword13">Select
							Type <span style="color:#c00;">*</span> :</label> <select ng-model="machine_mst.type"
									
									class="form-control" required>
									<option value="">Select Type</option>
									<option value="1">Machine</option>
									<option value="2">Auxiliary</option>
								</select>
							</div>
						</div>-->
						<div class="col-md-6"></div>
						<div class="col-md-3">
							<div align="right" style="margin-top:5%;">
								<button type="submit" class="btn_serach" id="success"
									ng-click="vm.ok(machine_mst)">Submit</button>
							</div>
						</div>
						<div class="col-md-3">
							<div align="right" style="margin-top:5%;">
								<button type="submit" class="btn_serach" id="success"
									ng-click="vm.cancel()">Cancel</button>
							</div>
						</div>
						</div>
							<div class="row" ng-if="viewQrTab">
						
						<!-- <div class="col-md-2">
						</div>
						
						<div class="col-md-6">
						
							 <qr text="qrcodeData" id="anycanvas" correction-level="'L'" size="200" image="true" ></qr>
							 <h4>{{qrcodeData}}</h4>
						</div> -->
						<div class="col-md-6">
								<!-- <img src="img/kf-logo.png" class="logo"> -->
							<div id="printQR" style="padding: 5px;display: inline-block;border:2px solid #e67817;margin-left:10px;margin-top:15px">       <qr text="qrcodeData" id="noanycanvas" correction-level="'L'" size="200" image="true" ></qr><img src="img/kf-bioplantr.png" class="logo"><br>{{qrcodeData}}</div>
						</div>
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div align="right" style="margin-top:5%;"s
								<button type="submit" class="btn_serach" id="success"
									ng-click="multiPrintCanvas()">Print m mULTIPLE</button>
							</div>
						</div>
						</div>
					</div>
				</div>
				</div>



			<!--	<div class="col-md-6" >
						 <img src="img/kf-logo.png" class="logo"> 
					<div id="printMultipleQR" style="padding: 5px;display: inline-block;border:2px solid #e67817;margin-left:10px;margin-top:15px">       <qr text="mutilpleQrCodeData" id="anycanvas" correction-level="'L'" size="200" image="true" ></qr><img src="img/kf-bioplantr.png" class="logo"><br>{{mutilpleQrCodeData}}</div>
				</div>
-->

		<div class="row"  ng-show="vm.showDropdown">
			
			<div class="col-sm-12" style="margin-top:3%;">
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">Machine Name <span style="color:#c00;">*</span></label>
										<select class="form-control" ng-model="selmachineName"
											ng-change="vm.getMachinesByName(selmachineName);">
											<option ng-show="showSelectMachineName" value="selectMachineNames"> Select Machine
											</option>
											<option ng-repeat="opts in vm.machineNames" value="{{opts}}"> {{opts}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">Location <span style="color:#c00;">*</span></label>
										<select class="form-control" ng-model="selectedLocation"
											ng-change="vm.getMachinesByLocation(selectedLocation);">
											<!-- ng-change="showSelectMachine" -->
											<option ng-show="showSelectMachine" value="selectLocation"> Select Location </option>
			
											<option ng-repeat="opts in vm.locations" value="{{opts}}"> {{opts}} </option>
										</select>
									</div>
								</div>
								
							</div>
			
			
			
		</div>				
		
		

		

		<div class="container">
		    <div class="panel-body table-responsive">
		        <table  id="example" class="table table-bordered">
					<input type="text" ng-model="vm.searchText" placeholder="Search by name, eqid or lab" ng-change="vm.searchMachines()" />
		            <thead class="orange">
		                <tr>
		                    <th class="text-center">
		                        Select All
		                        <input class="c_check" type="checkbox" ng-model="vm.selectAllChk" ng-click="selectAllTable()">
		                    </th>
		                    <th>SrNo.</th>
		                    <th>Location</th>
		                    <th>Equipment Id</th>
		                    <th>Machine Name</th>
		                    <th>Make</th>
		                    <th>Model</th>
		                    <th>Capacity</th>
		                    <th>QR Code</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="machine in vm.machine_msts">
		                    <td class="text-center" style="width:60px" width="24%">
								<input class="c_check" type="checkbox" ng-checked="machine.check" ng-click="selectQR($index)">
		                    </td>
							<td>{{ vm.currentPage * vm.pageSize + $index + 1 }}</td>

		                    <td>{{machine.location}}</td>
		                    <td>{{machine.eqid}}</td>
		                    <td>{{machine.machine_name}}</td>
		                    <td>{{machine.make}}</td>
		                    <td>{{machine.model}}</td>
		                    <td>{{machine.capacity}}</td>
		                    <td>
		                        <div id="xxx" style="page-break-after: always;" 
		                             ng-init="config={ name : 'qrcode', type : 'qrcode', text : machine.eqid, scale : { x : 2.5, y : 2.5 }, options : 'eclevel=M'}">
		                            <td-barcode config="config" id="$index"></td-barcode>
		                        </div>
		                    </td>
		                    <td class="text-nowrap">
		                        <button type="button" class="btn btn-info" title="Edit" ng-click="vm.add(machine); vm.toggleDropdown(false)">
		                            <i class="fa fa-edit" aria-hidden="true"></i>
		                        </button>
		                        <button type="button" class="btn btn-danger" title="Delete" ng-click="vm.delet(machine); vm.toggleDropdown(false)">
		                            <i class="fa fa-trash" aria-hidden="true"></i>
		                        </button>
		                        <button type="button" class="btn btn-info" title="View QRCODE" ng-click="vm.viewQr(machine); vm.toggleDropdown(false)">
		                            <i class="fa fa-qrcode" aria-hidden="true"></i>
		                        </button>
		                        <button type="button" class="btn btn-info" title="Add Spare" ng-click="vm.showAddSpareForm(machine); vm.toggleDropdown(false)">
		                            <i class="fa fa-coffee" aria-hidden="true"></i>
		                        </button>
		                        <button type="button" class="btn btn-info" title="Add Document" ng-click="vm.ShowAddDocumentTab(machine); vm.toggleDropdown(false)">
		                            <i class="fa fa-print" aria-hidden="true"></i>
		                        </button>
								<button type="button"
								        class="btn btn-warning"
								        title="Deactivate"
								        ng-click="vm.deactivateMachine(machine.machine_id)">
								    <i class="fa fa-ban" aria-hidden="true"></i>
								</button>

		                    </td>
		                </tr>
		            </tbody>
		        </table>
				
				
				<!-- Pagination Controls with Page Numbers -->
							<div>
							    <button ng-click="vm.prevPage()" ng-disabled="vm.currentPage == 0">Previous</button>

							    <button ng-repeat="n in vm.getVisiblePages()" 
							        ng-click="vm.loadMachine_msts(n)" 
							        ng-class="{'active': n === vm.currentPage}">
							        {{ n + 1 }}
							    </button>

							    <button ng-click="vm.nextPage()" ng-disabled="vm.currentPage == vm.totalPages - 1">Next</button>
							</div>
		    </div>
			
			


			



			
		</div>
	
<!-- Confirmation Modal -->
<div ng-show="vm.showModal" class="modal1">
    <div class="modal-content">
        <span class="modal-title">Confirmation</span>
        <p>Are you sure you want to delete this spare?</p>
        <div class="modal-actions">
            <button class="btn_serach" ng-click="vm.confirmDelete()">Delete</button>
            <button class="btn_serach" ng-click="vm.cancelDelete()">Cancel</button>
        </div>
    </div>
</div>

	
	
					
 <script>
        function uploadFile() {
            var fileInput = document.getElementById('uploadMedia');
            var file = fileInput.files[0];

            if (file) {
                // You can perform additional checks or validations here

                // Create FormData object and append the file
                var formData = new FormData();
                formData.append('excelFile', file);

                // Send a POST request to your server using fetch or XMLHttpRequest
                fetch('/your-upload-endpoint', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log('File uploaded successfully:', data);
                    // Handle the response from the server
                })
                .catch(error => {
                    console.error('Error uploading file:', error);
                    // Handle the error
                });
            } else {
                console.log('No file selected');
            }
        }
    </script>			
						
		

						<script>
							$(".custom-file-input-modal").on("change", function () {
								var fileName = $(this).val().split("\\").pop();
								$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
							});
						</script>
		