<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/angular-chart.js@1.1.1/dist/angular-chart.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-chart.js@1.1.1/dist/angular-chart.css">



	<style>
		.card-header {
			background-color: #007a8a;
			color: white;
			font-weight: bold;
			text-align: center;
		}

		.circular-progress-bar {
			width: 100px;
			height: 100px;
			margin: auto;
			/* display: none; */
		}

		.dashboard-card {
			margin-bottom: 20px;
			padding: 20px;
			border-radius: 5px;

			background-color: #f8f9fa;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			text-align: center;
			margin: 10px;
		}

		.dashboard-card h5 {
			font-size: 1.25rem;
			margin-bottom: 10px;
			color: #007a8a;
		}

		.dashboard-card h2 {
			font-size: 1.2rem;
			margin-bottom: 10px;
			font-weight: bold;
		}

		.chart-container {
			height: 200px;
			position: relative;
		}

		.row-border {
			border-top: 4px solid #007b8b;
			padding-top: 10px;
			margin: 0 10px;
		}
		body {
		    font-family: Arial, sans-serif;
		    background-color: #f0f0f0;
		    margin: 0;
		    padding: 20px;
		}
		
		.container {
		    display: flex;
		    justify-content: space-between; /* Space between cards */
		    flex-wrap: wrap; /* Allow wrapping on smaller screens */
		}
		
		.card1 {
		    display: flex;
		    align-items: center; /* Center vertically */
		    background-color: white;
		    border-radius: 8px;
		    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		    padding: 20px;
		    margin: 10px; /* Space around cards */
		    width: 22%; /* Adjust width for 4 cards in a row */
		    min-width: 150px; /* Minimum width for responsiveness */
		}
		
		.icon {
		    font-size: 40px; /* Adjust icon size */
		    margin-right: 15px; /* Space between icon and value */
		}
		
		.value {
		    font-size: 24px; /* Adjust value size */
		    font-weight: bold; /* Make value bold */
		}
	</style>
</head>

<body>
	<div class="container-fluid" style="padding-top: 20px">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center"> <i class="fa fa-desktop" aria-hidden="true"></i>
					{{vm.meterDetails.panel.panelName}} {{vm.meterDetails.panel.locationName}} ::
					{{vm.meterDetails.energyMeterNo}}</h2>
			</div>
		</div>
		<div 		class="row">
			
			<div class="meter-container">
				<h1>Meter Detials</h1>
		<div></div>
				<div for="exampleInputPassword13">Plant Name  : 				{{vm.meterDetails.panel.plantName}}</div>  </br>
				<div for="exampleInputPassword13">Location  : 				{{vm.meterDetails.panel.locationName}}</div> 				</br>
				<div for="exampleInputPassword13">Panel Name  : 				{{vm.meterDetails.panel.locationName}}</div>				</br>
				
				<div for="exampleInputPassword13">Company Name  : 				{{vm.meterDetails.module.companyName}}</div> 				</br>
				<div for="exampleInputPassword13">Module No    : 				{{vm.meterDetails.module.companyName}}</div> 				</br>
				<div for="exampleInputPassword13">Energy Meter No    : 	{{vm.meterDetails.energyMeterNo}}</div> 				</br>
			
											    
											   
			 </div>
			
		</div>
	<div 		class="row">
		<div class="col-lg-6">
						<div class="card-header">Current</div>
						<div class="container">
						       <div class="card1">
						           <div class="icon"><i class="fa fa-plug" aria-hidden="true"></i></div>
						           <div class="value">{{vm.currentRProgress}} A</div>
								   <P>R Phase</P>
						       </div>
							   <div class="card1">
						           <div class="icon"><i class="fa fa-plug" aria-hidden="true"></i></div>
								   <div class="value">{{vm.currentYProgress}} A</div>
								   <P>Y Phase</P>
						       </div>
							   <div class="card1">
						           <div class="icon"><i class="fa fa-plug" aria-hidden="true"></i></div>
								   <div class="value">{{vm.currentBProgress}} A</div>
								   <P>B Phase</P>
						       </div>
							   <div class="card1">
						           <div class="icon"><i class="fa fa-plug" aria-hidden="true"></i></div>
								   <div class="value">{{vm.currentNProgress}} A</div>
								   <P>Current N</P>
						       </div>
						   </div>
						</div>
						<div class="col-lg-6">
											<div class="card-header">Voltage</div>
											<div class="container">
												<div class="card1">
											           <div class="icon">													
													 
												
													<i class="fa fa-bolt"></i></div>
											           <div class="value">{{vm.voltageRYProgress}} V</div>
													   <P>Voltage RY</P>
											       </div>
												   <div class="card1">
											           <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
													   <div class="value">{{vm.voltageRBProgress}} V</div>
													   <P>Voltage RB</P>
											       </div>
												   <div class="card1">
											           <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
													   <div class="value">{{vm.voltageYBProgress}} V</div>
													   <P>Voltage YB</P>
											       </div>
												   <div class="card1">
											           <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
													   <div class="value">{{vm.voltageBRProgress}} V</div>
													   <P>Voltage BR</P>
											       </div>
											   </div>
											   <div class="container">
												<div class="card1">
											   								           <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
											   								           <div class="value">{{vm.currentAProgress}} V</div>
											   										   <P>Voltage LN</P>
											   								       </div>
											   								       
											   								   </div>
											  
											</div>
	</div>
	

	</div>
	<!--
		<div class="row row-border">
		
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Current</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Current A</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentAProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentAProgress}} A</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>Current B</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentBProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentBProgress}} A</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Current</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Current C</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentCProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentCProgress}} A</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>							
								Real Energy </h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentGProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentGProgress}} A</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Current</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Current N</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentNProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentNProgress}} A</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>Current Avg</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentAvgProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentAvgProgress}} A</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header"> 					Power Factor & Apparent</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Power Factor </h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.currentPFProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.currentPFProgress}} </text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>								Apparent </h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.apparentProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.apparentProgress}} 	kVAH</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>














			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Voltage</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Voltage A-B</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageABProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageABProgress}} V</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>Voltage B-C</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageBCProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageBCProgress}} V</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Voltage</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Voltage C-A</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageCAProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageCAProgress}} V</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>Voltage L-L Avg</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageLLProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageLLProgress}} V</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Voltage</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Voltage A-N</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageANProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageANProgress}} V</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>Voltage B-N</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageBNProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageBNProgress}} V</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class=" ">
					<div class="card-header">Voltage</div>
					<div class="card-body">

						<div class="d-flex">
							<div class="dashboard-card">
								<h5>Voltage C-N</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageCNProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageCNProgress}} V</text>
								</svg>
							</div>
							<div class="dashboard-card">
								<h5>Voltage L-N Avg</h5>
								<svg width="70%" height="70%" viewBox="0 0 100 100">
									<circle cx="50" cy="50" r="45" stroke-width="10" stroke="#eee" fill="none"></circle>
									<circle class="circle" cx="50" cy="50" r="45" stroke-width="10" stroke="#76c7c0"
										fill="none" stroke-dasharray="{{vm.circumference}}"
										stroke-dashoffset="{{vm.circumference - vm.voltageLNProgress / 100 * vm.circumference}}">
									</circle>
									<text x="40%" y="50%" class="progress-text">{{vm.voltageLNProgress}} V</text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	
	<!--	<div class="row row-border">
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-card text-center">
					<h5>Avg Voltage</h5>
					<h2>{{vm.cardData.voltageAvg}} V</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-card text-center">
					<h5>Avg Current</h5>
					<h2>{{vm.cardData.currentAvg}} Amp</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-card text-center">
					<h5>Energy Consumption/M</h5>
					<h2>{{vm.cardData.energyConsumption}} kWh</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-card text-center">
					<h5>Energy Apparent/M</h5>
					<h2>{{vm.cardData.apparant}} kVAh</h2>
				</div>
			</div>
		</div>-->

		<div class="row row-border">
			<!-- Left Side: 4 Cards in 2 Rows -->
			<div class="col-lg-6">
				<div class="row">
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Daily Energy Consumption</h5>
							<h2>{{vm.dashboardData.dailyEnergyConsumption|number:2}} kWh</h2>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Daily Energy Apparent</h5>
							<h2>							{{vm.dashboardData.dailyEnergyConsumption							|number:2}} kVAH</h2>
						</div>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Daily Energy Consumption</h5>
							<h2>0 kWh</h2>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Daily Energy Apparent</h5>
							<h2>0 kVAH</h2>
						</div>
					</div>
				</div>-->
			</div> 
			<!--<div class="col-lg-6">
		        <div class="card dashboard-card" 			style="	height: 			540px;">
		  		<h5>Weekly Energy Consumption</h5>
		          <div class="chart-container">
		  			<canvas class="chart chart-line"
		  			         chart-data="vm.chartDataCon"
		  			         chart-labels="vm.chartLabelsCon"
		  			         chart-series="vm.chartSeriesCon"
		  			         chart-options="vm.chartOptions2"
		  			         chart-colors="vm.chartColors2"
		  			         style="display: block; width: 100%; height: 530px;">
		  			 </canvas>           </div>
		        </div>
		      </div>-->
			<!-- Right Side: Chart -->
			<div class="col-lg-6">
					        <div class="card dashboard-card" 			style="	height: 			540px;">
					  		<h5>Weekly Energy Consumption</h5>
					          <div class="chart-container">
					  			<canvas class="chart chart-line"
					  			         chart-data="vm.chartDataCon"
					  			         chart-labels="vm.chartLabelsCon"
					  			         chart-series="vm.chartSeriesCon"
					  			         chart-options="vm.chartOptions2"
					  			         chart-colors="vm.chartColors2"
					  			         style="display: block; width: 100%; height: 530px;">
					  			 </canvas>           </div>
					        </div>
					      </div>
		
		</div>
		
		<div class="row row-border">
			<!-- Left Side: 4 Cards in 2 Rows -->
			<div class="col-lg-6">
				<div class="row">
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Avg Voltage</h5>
							<h2>{{vm.dashboardData.avarageVoltage							|number:2}} V</h2>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Avg Current</h5>
							<h2>{{vm.dashboardData.avarageCurrent							|number:2}} A</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card dashboard-card">
							<h5>Energy Consumption/M</h5>
							<h2>{{vm.dashboardData.monthlyEnergyConsumption							|number:2}} kWh</h2>
						</div>
					</div>
					<div class="col-md-6">
						<!--<div class="card dashboard-card">
							<h5> Energy Apparent/M</h5>
							<h2>{{vm.dashboardData.monthlyEnergyApparent							|number:2}} kVAH</h2>
						</div>-->
					</div>
				</div>
			</div> 
			<!-- Right Side: Chart -->
			<div class="col-lg-6">
						<div class="card dashboard-card" style="	height: 			540px;">
							<h5>Monthly Energy Consumption</h5>
							<div class="chart-container">
								<canvas class="chart chart-line" chart-data="vm.chartDataConM" chart-labels="vm.chartLabelsConM"
									chart-series="vm.chartSeriesConM" chart-options="vm.chartOptions2"
									chart-colors="vm.chartColors2" style="display: block; width: 100%; height: 530px;">
								</canvas>
							</div>
						</div>
					</div>
		</div>
		<div class="row row-border">
			<!-- Right Side: Chart -->
			<div class="col-lg-6">

				<div class="card dashboard-card" style="	height: 			540px;">
					<h5>Voltage Trend</h5>
					<div class="chart-container">
						<canvas class="chart chart-line" chart-data="vm.chartDataV" chart-labels="vm.chartLabelsV"
							chart-series="vm.chartSeriesV" chart-options="vm.chartOptions2"
							chart-colors="vm.chartColors2" style="display: block; width: 100%; height: 530px;">
						</canvas>
					</div>
				</div>
			</div>
			<!-- Right Side: Chart -->
			<div class="col-lg-6">

				<div class="card dashboard-card" style="	height: 			540px;">
					<h5>Current Trend</h5>
					<div class="chart-container">
						<canvas class="chart chart-line" chart-data="vm.chartDataI" chart-labels="vm.chartLabelsI"
							chart-series="vm.chartSeriesI" chart-options="vm.chartOptions2"
							chart-colors="vm.chartColors2" style="display: block; width: 100%; height: 530px;">
						</canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
			
					<div class="card dashboard-card" style="	height: 			540px;">
						<h5>Power Factor Trend</h5>
						<div class="chart-container">
							<canvas class="chart chart-line" chart-data="vm.chartDataPF" chart-labels="vm.chartLabelsPF"
								chart-series="vm.chartSeriesPF" chart-options="vm.chartOptions2"
								chart-colors="vm.chartColors2" style="display: block; width: 100%; height: 530px;">
							</canvas>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row page-title-div" ng-repeat="	registerGroup in vm.registerGroups">

			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h2 class="title">{{registerGroup.groupName}} <i class="fa fa-chevron-down" aria-hidden="true"
						ng-click="show($index)" ng-show="!registerGroup.showView"></i> <i class="fa fa-chevron-up"
						aria-hidden="true" ng-click="hide($index)" ng-show="registerGroup.showView"></i></h2>
			</div>
			<div class="col-md-6" ng-show="registerGroup.showView" ng-repeat="register in 	registerGroup.list"
				ng-style="register.registerName=='Voltage L-N Avg'||register.registerName=='Frequency'|| register.registerName=='Current B' ? {'background-color': '		#017cc0'} : {'background-color': '		#eee'}">
				<div class="form-group">
					<label for="name13">{{register.registerName}} :</label>
					<input type="text" class="form-control" ng-model="register.registerValue+' '+register.unit"
						placeholder="Enter Cause" disabled>
				</div>
			</div>



		</div>
	</div>
	<canvas id="customChart" class="chart chart-bar" style="display: block; width: 100%; height: 600px;"></canvas>


</body>

</html>